  <h2 class="mt-3">食品一覧</h2>
  <% if @foods.empty? %>
<h3 class="mt-5">まだ食品の登録がありません。</h3>
<% else %>
  <div class="row">
    <div class="col-md-12 mx-auto mt-3">
      <table class="table table-striped">
        <thead>

          <tr>
            <th></th>
          </tr>
        <tbody>
        </tbody>

          <tr>
      <th>ID</th>
      <th>食品名</th>
      <th>投稿ユーザー</th>
      <th>カロリー(kcal)</th>
      <th>タンパク質(g)</th>
      <th>脂質(g)</th>
      <th>炭水化物(g)</th>
      <th>説明</th>
      <th></th>
          </tr>
      </thead>
        <tbody>
              <% @foods.each do |food| %>
      <tr>
        <td><%= food.id %></td>
        <td><%= link_to food.name,admin_food_path(food.id) %></td>
        <td><%= User.find(food.user_id).name %></td>
        <td><%= food.calorie %></td>
        <td><%= food.protein %></td>
        <td><%= food.fat %></td>
        <td><%= food.carbohydrate %></td>
        <td><%= food.explanation %></td>


       <td><%= link_to "削除", admin_food_path(food.id), data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？\r\n削除すると今まで登録していた「#{h(food.name)}」に関する食事内容がすべて削除されます。"},class: "btn btn-danger" %></td>
      </tr>
      <% end %>
            <% end %>
  </tbody>
</table>
<table>
  </div>
  </div>