  <% comments.each do |comment| %>
  <div>
  <p><%= comment.user.name %>さん　<%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
  <p><%= comment.comment %><%= link_to "削除", comment_path(comment),data:{ "turbo-method": :delete },class:"btn btn-danger" %></p>
  </div>
  <% end %>



  <%= form_with model:@comment,local:false do |f| %>
  <%= f.hidden_field :ymd , value: date %>
  <%= f.hidden_field :timeframe , value: timeframe %>
  <%= f.hidden_field :user_id , value: member%>

    <div class="form-group">
      <%= f.label :comment %>
      <%= f.text_area :comment, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.submit '送信'%>
    </div>
      <% end %>