 <% if @range == "User" %>

  <h2 class="mt-3">ユーザー検索</h2>

    <% if @searchs.empty? %>
<h3 class="mt-5">まだユーザーはいません。</h3>
<% else %>
  <div class="row">
    <div class="col-md-12 mx-auto mt-3">
      <table class="table table-striped">
        <thead>

          <tr>
      <th>ニックネーム</th>
      <th>目的</th>
      <th>プロフィール</th>
          </tr>
      </thead>
        <tbody>

<% @searchs.each do |member| %>
<tr>
<td><%= link_to member.name, member_path(member, year: Time.zone.now.year, month: Time.zone.now.month, day: Time.zone.now.day),class:"pb-2" %></td>
<td><%= member.purpose_i18n %></td>
<td><%= member.profile %></td>
</tr>
<% end %>
</tbody>
</thead>
</table>
<% end %>


<% elsif @range == "MyComment" %>
  <h2 class="mt-3">自分の食事のコメント検索</h2>

    <% if @searchs.empty? %>
<h3 class="mt-5">まだ投稿されたコメントはありません。</h3>
<% else %>
  <div class="row">
    <div class="col-md-12 mx-auto mt-3">
      <table class="table table-striped">
        <thead>

          <tr>
      <th>内容</th>
      <th>投稿ユーザー</th>
      <th>コメント投稿先</th>

          </tr>
      </thead>
        <tbody>

<% @searchs.each do |comment| %>
<tr>
<% date = comment.ymd %>
<td><%= link_to comment.comment, member_path(comment.user_id, year: date.year, month: date.month, day: date.day) %></td>
<td><%= User.find(comment.user_id).name %></td>
<td><%= comment.ymd %>(<%= comment.timeframe_i18n %>)</td>
</tr>
<% end %>
</tbody>
</thead>
</table>
<% end %>


<% else %>
  <h2 class="mt-3">自分の食事のコメントタグ検索</h2>

      <% if @searchs.empty? %>
<h3 class="mt-5">まだ投稿されたタグはありません。</h3>
<% else %>
  <div class="row">
    <div class="col-md-12 mx-auto mt-3">
      <table class="table table-striped">
        <thead>

          <tr>
      <th>内容</th>
      <th>投稿ユーザー</th>
      <th>コメント投稿先</th>

          </tr>
      </thead>
        <tbody>

<% @searchs.each do |comment_tag| %>
<% date = comment_tag.ymd %>
<td><%= link_to comment_tag.comment, member_path(comment_tag.user_id, year: date.year, month: date.month, day: date.day) %></td>
<td><%= User.find(comment_tag.user_id).name %></td>
<td><%= comment_tag.ymd %>(<%= comment_tag.timeframe_i18n %>)</td>
</tr>

<% end %>
</tbody>
</thead>
</table>
<% end %>
<% end %>