<% if user_signed_in? %>

<div class="row align-items-center text-center top-img">
  <img src="<%= image_path('013.jpg') %>">
  <div class="col-md-12 mb-5">
    <h1>"運動する全ての人へ"</h1>
  </div>
  <div class="col-md-12">
    <h2>食べたものをすべて記録し、可視化できます。</h2>
  </div>
</div>

<div class="row align-items-center text-center" style="margin-top:100px">
  <div class="col-md-12 mb-5">
    <%= link_to "Go To Mypage", member_path(current_user.id, year: Time.zone.now.year, month: Time.zone.now.month, day: Time.zone.now.day), style: "text-decoration: underline; text-underline-offset: 10px; text-decoration-thickness: 4px; font-size: 40px;" %>

  </div>
    <% if notice.present? %>
    <div class="mt-4 text-primary">
      <h5><%= notice %></h5>
    </div>
  <% end %>
</div>

<% else %>

<div class="row align-items-center text-center" style="margin-top:150px">
  <div class="col-md-12 mb-5">
    <h1>"運動する全ての人へ"</h1>
  </div>
  <div class="col-md-12">
    <h2>食べたものをすべて記録し、可視化できます。</h2>
  </div>
</div>

<div class="row align-items-center text-center" style="margin-top:50px">
  <div class="col-md-12 mb-2">
    <h4 class="mb-4">ログイン</h4>
  </div>
</div>

<div class="row align-items-center text-center">
  <div class="col-md-3 mx-auto">

<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
    <div class="field mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control pt-2 pb-2",placeholder:"メールアドレス"%>
    </div>
    <div class="field mb-5">
      <%= f.password_field :password, autocomplete: "current-password",class:"form-control pt-2 pb-2" ,placeholder:"パスワード"%>
    </div>
    <div class="actions mb-4">
      <%= f.submit "ログイン",class:"btn btn-sm btn btn-primary pt-2 pb-2 w-100"%>
    </div>
    <div>
      <p>または</p>
    </div>
    <div>
      <%= link_to "ゲストログイン（閲覧用）", homes_guest_sign_in_path, data: {turbo_method: :post },class: "btn btn-success w-100 " %>
    </div>
  </div>

  <% if alert.present? %>
    <div class="mt-4 text-danger">
      <%= alert %>
    </div>
  <% end %>

</div>

<% end %>

<div class="row" style="margin-top:50px">
  <div class="col-md-3 mx-auto mb-2 border-top">
  </div>
</div>
<div class="row align-items-center text-center" style="margin-top:10px">
  <div class="col-md-12 mx-auto mb-2">
    アカウントをお持ちでは場合はこちらから
  </div>
    <div class="col-md-12 mx-auto">
    <%= link_to "新規登録",new_user_registration_path %>
  </div>
</div>
<% end %>