
<% if member.sex == "men" %>
  <% @basal_metabolism = 13.397 * member.weight + 4.799 * member.height - 5.677 * member.age + 88.362 %>
<% else %>
  <% @basal_metabolism = 9.247 * member.weight + 3.098 * member.height - 4.33 * member.age + 447.593 %>
<% end %>
<p>基礎代謝量：<%= @basal_metabolism.round(1) %>Kcal</p>


<% case member.activity
  when "sedentary" then
    @tdee =  @basal_metabolism * 1.2
  when "light" then
    @tdee =  @basal_metabolism * 1.375
  when "moderate" then
    @tdee =  @basal_metabolism * 1.55
  when "intense" then
    @tdee =  @basal_metabolism * 1.725
  when "very_intense" then
    @tdee =  @basal_metabolism * 1.9
  end %>
<p>総エネルギー消費量：<%= @tdee.round(1) %>Kcal</p>


<% if @today == @date %>
<% @day_total = total_calorie - @tdee %>
<% if @day_total < 0 %>
<p class="text-primary">今日はあと<%= @day_total.round(0).abs %>Kcal食べれます！</p>
<% else %>
<p class="text-danger">今日は<%= @day_total.round(0) %>Kcalオーバーしています！</p>
<% end %>


<% else %>


<% @day_total = total_calorie - @tdee %>
<% if @day_total < 0 %>
<p class="text-primary">この日は<%= @day_total.round(0) %>Kcalでした！</p>
<% else %>
<p class="text-danger">この日は<%= @day_total.round(0) %>Kcalオーバーしています！</p>
<% end %>
<% end %>