<div class="row align-items-center pb-5">
  <div class="col-md-4">
<h2><%= @year %>年<%= @month %>月<%= @day %>日(<%= @days[@weekday] %>)</h2>
  </div>
  <div class="col-md-3 text-center">
    <%= link_to "次の日",member_path(@member, year: @tomorrow.year, month: @tomorrow.month, day: @tomorrow.day) %>　|
<% if @date == @today %>
　今日　|
<% else %>
　<%= link_to "今日",member_path(@member, year: @today.year, month: @today.month, day: @today.day) %>　|
<% end %>
　<%= link_to "前の日",member_path(@member, year: @yesterday.year, month: @yesterday.month, day: @yesterday.day) %>
</div>
  <div class="col-md-1 text-center">
    <%= link_to "日付一覧",member_path(@member, year: @yesterday.year, month: @yesterday.month, day: @yesterday.day) %>
</div>
  <div class="col-md-4 text-center">
    <%= link_to "New Food",new_food_path %>　|
　<%= link_to "Food List",foods_path %>
</div>
</div>


<div class="row pb-5r pb-5">
  <div class="col-md-4">

<% if @member == @current_member %>
<h2>マイページ</h2>
<% else %>
<h2><%= @member.name %>さんページ</h2>
<% end %>

<p>目的：<%= @member.purpose_i18n %></p>
<p><%= @member.profile %></p>
</div>
  <div class="col-md-1">
    </div>
  <div class="col-md-3">
<h2>本日の栄養状態</h2>
<%= render 'meals_total_sum', meals_morning: @meals_morning,meals_lunch: @meals_lunch,meals_dinner: @meals_dinner,meals_snack: @meals_snack %>
<p>総カロリー：<%= @total_calorie %>kcal</p>
<p>総タンパク質：<%= @total_protein %>g</p>
<p>総脂質：<%= @total_fat %>g</p>
<p>総炭水化物：<%= @total_carbohydrate %>g</p>
      </div>
  <div class="col-md-4">
  <div>
<%= pie_chart @chart%>
</div>
      </div>
</div>


<h2>食事</h2>

<div class="row">
  <div class="col-md-3 border">
<div>
  <h3 class="pt-3 pb-3" style="display: inline-block;">朝食</h3>
  <%= render 'public/nices/nices', nices: @nices_morning, timeframe:@timeframe=0,date:@date,member:@member.id %>
</div>

<%= render 'meals', meals: @meals_morning, timeframe:@timeframe=0 %>
</div>


  <div class="col-md-3 border">
<div>
  <h3 class="pt-3 pb-3" style="display: inline-block;">昼食</h3>
<%= render 'public/nices/nices', nices: @nices_lunch, timeframe:@timeframe=1,date:@date,member:@member.id %>




</div>
<%= render 'meals', meals: @meals_lunch, timeframe:@timeframe=1 %>
</div>


  <div class="col-md-3 border">
<div>
  <h3 class="pt-3 pb-3" style="display: inline-block;">夕食</h3>
<%= render 'public/nices/nices', nices: @nices_dinner, timeframe:@timeframe=2,date:@date,member:@member.id %>
</div>
<%= render 'meals', meals: @meals_dinner, timeframe:@timeframe=2 %>
</div>

  <div class="col-md-3 border">
<div>
  <h3 class="pt-3 pb-3" style="display: inline-block;">間食</h3>
<%= render 'public/nices/nices', nices: @nices_snack, timeframe:@timeframe=3,date:@date,member:@member.id %>
</div>
<%= render 'meals', meals: @meals_snack, timeframe:@timeframe=3 %>
</div>
</div>


<div class="border-bottom mt-5"><h2>コメント</h2></div>
<div>
<div class="row">
  <div class="col-md-3">
<%= render 'public/comments/comments', comments: @comments_morning, timeframe:@timeframe=0,date:@date,member:@member.id %>
    </div>
  <div class="col-md-3">
<%= render 'public/comments/comments', comments: @comments_lunch, timeframe:@timeframe=1,date:@date,member:@member.id %>
    </div>
  <div class="col-md-3">
<%= render 'public/comments/comments', comments: @comments_dinner, timeframe:@timeframe=2,date:@date,member:@member.id %>
    </div>
  <div class="col-md-3">
<%= render 'public/comments/comments', comments: @comments_snack, timeframe:@timeframe=3,date:@date,member:@member.id %>
    </div>
</div>
