<div class="row align-items-center pb-5">
  <div class="col-md-4">
<h2><%= @year %>年<%= @month %>月<%= @day %>日(<%= @days[@weekday] %>)</h2>
  </div>
  <div class="col-md-2 text-center">
    <%= link_to "明日",member_path(@member, year: @tomorrow.year, month: @tomorrow.month, day: @tomorrow.day) %>　|
<% if @date == @today %>
　今日　|
<% else %>
　<%= link_to "今日",member_path(@member, year: @today.year, month: @today.month, day: @today.day) %>　|
<% end %>
　<%= link_to "昨日",member_path(@member, year: @yesterday.year, month: @yesterday.month, day: @yesterday.day) %>
</div>
  <div class="col-md-2 text-center">
    <%= link_to "日付一覧",member_path(@member, year: @yesterday.year, month: @yesterday.month, day: @yesterday.day) %>
</div>
  <div class="col-md-4 text-center">
    <%= link_to "New Food",new_food_path %>　|
　<%= link_to "Food List",foods_path %>
</div>
</div>

<% if @member == @current_member %>
<div class="row pb-5r pb-5">
  <div class="col-md-4">
<h2>マイページ</h2>
<p>目的：<%= @member.purpose_i18n %></p>
<p><%= @member.profile %></p>
</div>
  <div class="col-md-1">
    </div>
  <div class="col-md-7">
<h2>本日の栄養状態</h2>
<%= render 'meals_total_sum', meals_morning: @meals_morning,meals_lunch: @meals_lunch,meals_dinner: @meals_dinner,meals_snack: @meals_snack %>
<p>総カロリー：<%= @total_calorie %></p>
<p>総タンパク質：<%= @total_protein %></p>
<p>総脂質：<%= @total_fat %></p>
<p>総炭水化物：<%= @total_carbohydrate %></p>
      </div>
</div>


<h1>食事</h1>

<div class="row">
  <div class="col-md-3 border">
<h3>朝食</h3>
<%= render 'meals', meals: @meals_morning, timeframe:@timeframe=0 %>
</div>


  <div class="col-md-3 border">
<h3>昼食</h3>
<%= render 'meals', meals: @meals_lunch, timeframe:@timeframe=1 %>
</div>


  <div class="col-md-3 border">
<h3>夕食</h3>
<%= render 'meals', meals: @meals_dinner, timeframe:@timeframe=2 %>
</div>

  <div class="col-md-3 border">
<h3>間食</h3>
<%= render 'meals', meals: @meals_snack, timeframe:@timeframe=3 %>
</div>
</div>


<% else %>
<%= @member.name %>さんページ
<% end %>