<!DOCTYPE html>
<html>
  <head>
    <title>Foodlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <!--ヘッダー-->
    <%= render 'layouts/header' %>

    <main style="padding-bottom:100px">
    <% if user_signed_in? %>
      <div class='container my-5 px-sm-2'>
        <%= render 'public/searches/search_form' %>
    <% end %>
      <%= yield %>
    </main>

    <!--フッター-->
    <%= render 'layouts/footer' %>
  </body>
</html>
